#submit_button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#sort_button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

input {
    margin: 10px;
    font-family: inherit;
}

body {
    background-color: purple;
    color: green;
    font-family: "Segoe UI", sans-serif;
}
